.wrapper {
    display: flex !important;
}

.bd_forms {
    width: 70% !important;
     text-align: center;

}

#insert_form p {
    display: inline-block !important;
}

#edit_form p {
    display: inline-block !important;
}
